/* Style de index.html */

body {
    font-family: Arial, sans-serif;
    /* background prit sur un site : "https://www.magicpattern.design/tools/css-backgrounds" */
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

#user_profile {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logout-btn {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#todo-app {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#new-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
}

.task.completed {
    background: #d1e7dd;
    text-decoration: line-through;
}

.task .task-content {
    flex-grow: 1;
}

.task button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.complete-btn {
    background-color: #5cb85c;
    color: white;
}

.delete-btn {
    background-color: #d9534f;
    color: white;
}

#filters {
    margin-bottom: 20px;
}

#filters button {
    padding: 5px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

#filters button:focus {
    box-shadow: 0 0 0 2px #007bff;
}

/* Style de login.html */

#login-form {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#login-form h1 {
    margin-bottom: 20px;
    text-align: center;
}

#login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style de register.html */

#register-form {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#register-form h1 {
    margin-bottom: 20px;
    text-align: center;
}

#register-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#register-form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#register-form #cancel-btn {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style de update_profile.html */

#update-profile-form {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#update-profile-form h1 {
    margin-bottom: 20px;
    text-align: center;
}

#update-profile-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#update-profile-form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style de user_profile.html */

#user-profile {
    width: 70%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#user-profile h1 {
    margin-bottom: 20px;
    text-align: center;
}

#user-profile #user-info {
    margin-bottom: 10px;
}

#user-profile button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#user-profile #unsubscribe-btn {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style de admin.html */

#admin {
    width: 70%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#admin h1 {
    margin-bottom: 20px;
    text-align: center;
}

#admin .user-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#admin .user-container {
    max-width: 800px;
}

#admin .user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#admin .user-info {
    margin-right: 50px;
}

#admin .action-buttons {
    display: flex;
    flex-direction: column;
}

#delete-btn {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#edit-btn {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}